body{
    background-color: rgb(14, 22, 137);
}

header{
    color: antiquewhite;
    font-size: 4em;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

nav {
    display: flex;
    border: 5px solid antiquewhite;
    font-family: monospace;
    margin: 5px;
    padding: 5px;
    font-size: 1.5em ;
    font-weight: bold;
}

a{
    color: antiquewhite;
    font-weight: bold;
    padding: 10px;
    font-family: monospace;
    font-size: 20px;
}

li{
    list-style: none;
    float: left;
}

div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

div:nth-child(3){
    margin-left: auto;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

article {
    display: grid;
    margin-top: 10px;
}

section {
    font-size: 1em;
    padding: 10px;
}    

h2{
    color: antiquewhite;
    font-family: monospace;
    font-size: 25px;
    text-align: center;
}

p{
    color: antiquewhite;
    font-size: 20px;
    font-family: monospace;
}

aside{
    color: antiquewhite;
    font-size: 1em;
    margin: 10px 10px;
    padding: 10px;
}

footer{
    border: 5px solid antiquewhite;
    color: antiquewhite;
    font-size: 1.5em;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    padding: 10px;
}

img{
    width: 650px;
}